<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="LOG_PATH" source="log.dir"/>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<!--<logger name="org.springframework.web" level="DEBUG"/>-->
	<logger name="com.example.bootTest.app.db" level="DEBUG"/>

	<appender name="traceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/httptrace.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_PATH}/httptrace-%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{ISO8601} %msg%n</Pattern>
		</encoder>
	</appender>

    <logger name="com.example.bootTest.web.utility" level="info" additivity="false">
		<appender-ref ref="traceLog"/>
	</logger>


</configuration>